/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Actay";
  font-display: swap;
  src: url("../fonts/Actay-Regular.woff2") format("woff2"), url("../fonts/Actay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ActayWide";
  font-display: swap;
  src: url("../fonts/ActayWide-Bold.woff2") format("woff2"), url("../fonts/ActayWide-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Actay";
  font-size: 14px;
  color: #ffffff;
}

a {
  color: #ffffff;
}

.no-webp .img {
  background-image: url("@img/cover.jpg"); }

.img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 40px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 100;
  display: block;
  margin-top: -9px;
  font-family: "ActayWide";
  font-size: 32px;
  line-height: 1;
}

.header__menu-row {
  position: relative;
  z-index: 100;
  display: none;
}

.header__menu-text {
  text-transform: capitalize;
  color: #000000;
  margin-right: 10px;
  font-size: 12px;
}

.header__menu-close {
  max-width: 40px;
  max-height: 40px;
}

.header__burger {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 13px;
}

.nav__right {
  margin-bottom: 10px;
}

.nav__link {
  line-height: 46%;
  font-size: 20px;
  text-transform: capitalize;
}

.nav__special-link {
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  padding-right: 36px;
  padding-bottom: 2px;
  border-bottom: 1px solid #ffffff;
}

.nav__special-link::after {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.9912 2H14V8.0088H13.2489V3.28509L2.52812 14L2 13.4719L12.7149 2.7511H7.9912V2Z' fill='white' /%3E%3C/svg%3E");
  width: 16px;
  height: 16px;
}

.no-webp .intro {
  background-image: url("../img/background.png"); }

.intro {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro__container {
  padding-top: 125px;
  padding-bottom: 60px;
}

.intro__title {
  text-align: center;
  font-family: "ActayWide";
  font-size: 90px;
  margin-bottom: 58px;
}

.intro .swiper {
  overflow: visible !important;
}

.intro__steps-list {
  position: relative;
  list-style: none;
  counter-reset: list-counter;
}

.intro__step {
  -webkit-box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 0.35);
          box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 0.35);
  color: #f6ffd2;
  counter-increment: list-counter;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid #ffffff;
  border-radius: 35px 0;
  padding: 11px 13px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.intro__step::before {
  content: counter(list-counter);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f6ffd2;
  border: 1px solid #ffffff;
  border-radius: 100%;
  background-color: #5e7600;
  min-width: 51px;
  min-height: 51px;
  font-size: 36px;
  padding-top: 3px;
  padding-right: 3px;
}

.intro__step::after {
  position: absolute;
  top: -25px;
  right: -29px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='61' viewBox='0 0 44 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_454_101)'%3E%3Cpath d='M21.5766 11C17.9444 11 15 13.9444 15 17.5766V40.8302V40.8302C15 41.1521 15.4258 41.2667 15.5874 40.9884L27.2639 20.8789C29.8096 16.4945 26.6464 11 21.5766 11V11Z' fill='white' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_454_101' x='0' y='0' width='43.1631' height='60.1458' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha' /%3E%3CfeOffset dy='4' /%3E%3CfeGaussianBlur stdDeviation='7.5' /%3E%3CfeComposite in2='hardAlpha' operator='out' /%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.35 0' /%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_454_101' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_454_101' result='shape' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  background-position: center;
  width: 44px;
  height: 61px;
}

.intro__step-2 {
  top: 166px;
  left: 76px;
}

.intro__step-3 {
  top: 185px;
  left: 428px;
}

.intro__step-4 {
  top: -123px;
  left: 355px;
}

.intro__step-5 {
  top: -275px;
  right: -839px;
}

.intro__step-6 {
  top: -197px;
  right: -700px;
}

.intro__item {
  position: relative;
  max-width: 287px;
}

.intro__steps {
  margin-bottom: 17px;
}

.intro__swiper-navigation {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f6ffd2;
}

.intro .swiper-button-prev,
.intro .swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.intro .swiper-button-prev::before,
.intro .swiper-button-next::before {
  content: url("data:image/svg+xml,%3Csvg width='18' height='11' viewBox='0 0 18 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 5.5L1 5.5M1 5.5L7 1M1 5.5L7 10' stroke='%23F6FFD2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
}

.intro .swiper-button-next {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.intro .swiper-button-next::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  height: 10px;
}

.menuOpen .header__burger {
  display: none;
}

.menuOpen .header__menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuOpen .header__logo {
  color: #f2f3ef;
  padding-top: 8px;
}

.menuOpen .nav {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.header.menuOpen::before {
  display: block;
}

@media (min-width: 1161px) {
  .header__left {
    font-size: 20px;
    width: 100%;
  }

  .intro__step {
    position: relative;
    backdrop-filter: blur(15px);
  }

  .intro__item {
    width: 100% !important;
  }

  .intro__step-path {
    position: absolute;
    top: 59px;
    left: 20px;
    z-index: 1;
    background-image: url("data:image/svg+xml,%3Csvg width='213' height='254' viewBox='0 0 213 254' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_467_149)'%3E%3Cpath d='M40.1887 24.2928C32.6463 36.4412 19.5532 63.5655 27.52 74.8762C37.4783 89.0147 68.2063 85.105 81.6 107.459C94.9936 129.812 66.8385 169.487 106.592 179.113C146.345 188.738 166.424 214.205 187.107 201.928' stroke='white' stroke-opacity='0.6' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='9.83 9.83' shape-rendering='crispEdges' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_467_149' x='0.153749' y='22.7947' width='212.053' height='230.823' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha' /%3E%3CfeOffset dy='23.5982' /%3E%3CfeGaussianBlur stdDeviation='11.7991' /%3E%3CfeComposite in2='hardAlpha' operator='out' /%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.215686 0 0 0 0 0.203922 0 0 0 0 0.662745 0 0 0 0.3 0' /%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_467_149' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_467_149' result='shape' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    min-width: 213px;
    min-height: 254px;
  }

  .intro__step-path-2 {
    top: 200px;
    left: 256px;
    background-image: url("data:image/svg+xml,%3Csvg width='195' height='201' viewBox='0 0 195 201' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_469_150)'%3E%3Cpath d='M37.7509 32.6595C31.5831 42.2681 21.0377 63.0737 28.1989 69.4271C37.1504 77.3687 63.4988 69.3811 75.6276 82.344C87.7564 95.3069 59.309 152.604 93.7895 152.307C128.27 152.01 151.509 140.637 168.985 128.668' stroke='white' stroke-opacity='0.6' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='9.83 9.83' shape-rendering='crispEdges' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_469_150' x='0.881289' y='31.1558' width='193.199' height='169.852' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha' /%3E%3CfeOffset dy='23.5982' /%3E%3CfeGaussianBlur stdDeviation='11.7991' /%3E%3CfeComposite in2='hardAlpha' operator='out' /%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.215686 0 0 0 0 0.203922 0 0 0 0 0.662745 0 0 0 0.3 0' /%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_469_150' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_469_150' result='shape' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    min-width: 195px;
    min-height: 201px;
  }

  .intro__step-path-3 {
    top: -49px;
    left: 482px;
    -webkit-transform: rotate(236deg);
        -ms-transform: rotate(236deg);
            transform: rotate(236deg);
  }

  .intro__step-path-4 {
    top: -255px;
    left: 580px;
    background-image: url("data:image/svg+xml,%3Csvg width='310' height='238' viewBox='0 0 310 238' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_470_151)'%3E%3Cpath d='M25.9535 132.41C28.2215 118.279 64.6513 97.654 80.7809 103.103C97.1902 108.646 118.21 122.14 142.977 114.075C167.745 106.01 172.492 57.5434 208.821 76.4226C245.149 95.3018 277.006 89.2832 284.577 112.152' stroke='white' stroke-opacity='0.6' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='9.83 9.83' shape-rendering='crispEdges' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_470_151' x='0.851503' y='70.595' width='308.828' height='110.508' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha' /%3E%3CfeOffset dy='23.5982' /%3E%3CfeGaussianBlur stdDeviation='11.7991' /%3E%3CfeComposite in2='hardAlpha' operator='out' /%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.215686 0 0 0 0 0.203922 0 0 0 0 0.662745 0 0 0 0.3 0' /%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_470_151' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_470_151' result='shape' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    min-width: 310px;
    min-height: 238px;
  }

  .intro__step-path-5 {
    top: -292px;
    left: 945px;
    -webkit-transform: rotate(264deg);
        -ms-transform: rotate(264deg);
            transform: rotate(264deg);
  }
}

@media (max-width: 1160px) {
  .header {
    margin-top: 30px;
  }

  .header::before {
    display: none;
    content: "";
    position: fixed;
    inset: 0;
    z-index: 5;
    background-color: #000000;
    opacity: 0.5;
  }

  .header__logo {
    font-size: 20px;
  }

  .header__menu-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__burger {
    display: block;
  }

  .nav {
    opacity: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 28px;
    padding: 22px 15px;
    padding-top: 90px;
    text-align: center;
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav__link {
    color: #000000;
    font-size: 14px;
  }

  .nav__special-link {
    color: #000000;
    border-bottom: 1px solid #000000;
    font-size: 14px;
    padding-right: 66px;
  }

  .nav__special-link::after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.9912 2H14V8.0088H13.2489V3.28509L2.52812 14L2 13.4719L12.7149 2.7511H7.9912V2Z' fill='black' /%3E%3C/svg%3E");
  }

  .intro {
    height: 100vh;
  }

  .intro__container {
    padding-top: 100px;
  }

  .intro__title {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .intro__step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 22px;
    text-align: center;
    padding: 40px 13px;
  }

  .intro__step::before {
    padding-top: 5px;
    font-size: 52px;
    min-width: 74px;
    min-height: 74px;
  }

  .intro__item {
    max-width: 100%;
  }

  .intro__swiper-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.webp .img { background-image: url(@img/cover.webp); }

.webp .intro { background-image: url(../img/background.webp); }